.footer-block {
  background-color: #ffffff;
  padding-top: 2rem;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #efefef;
}

.footer-block__brand-name {
  font-size: 20px;
}

.footer-block__creadcrumb-item {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 55px;
  line-height: 55px;
}
.footer-block__creadcrumb-link {
  display: block;
  padding: 0 .75rem;
  position: relative;
  color: #474747;
}
.footer-block__creadcrumb-link:hover {
  text-decoration: underline;
  color: #1e0c65;
}
.footer-block__creadcrumb-link::after {
  content: '';
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  height: 5px;
  width: 5px;
  background-color: #474747;
  border-radius: 50%;
}
.footer-block__creadcrumb-item:last-child a::after {
  display: none;
}
.copyright {
  height: 30px;
  font-size: 17px;
  padding: 0 .5rem;
}

@media only screen and (max-width: 450px) {
  .footer-block__creadcrumb-item {
    line-height: 30px;
    height: 30px;
  }
  .footer-block__creadcrumb-link {
    padding: 0;
    padding-left: 5px;
    font-size: 14px;
  }
  .footer-block__creadcrumb-link::after {
    /* display: none; */
    right: -4px;
    height: 3px;
    width: 3px;
  }
}
