.jumbotron {
  position: relative;
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.jumbotron.full {
  height: 100vh;
}
.theme-jumbotron__default {
  background-color: #ffffff;
  color: #1e0c65;
}
.theme-jumbotron__dark {
  background-color: #1e0c65;
  color: #ffffff;
}
.theme-jumbotron__grey {
  background-color: #efefef;
  color: #1e0c65;
}
.theme-jumbotron__dark .hero__title {
  color: #ffffff;
}
.jumbotron__slide-down-arrrow {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.jumbotron__slide-down-arrrow__image {
  height: 30px;
  width: 30px;
  animation: slideUpDown 2s infinite;
}

@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  10% {
    transform: translateY(0px);
  }
}
