@media only screen and (max-width: 1150px) {
  .hero__title {
    font-size: 70px !important;
  }
}
@media only screen and (max-width: 850px) {
  /********************
        Header
  ********************/
  .main-menu__right::before,
  .main-menu__right::after {
    display: none;
  }
}

@media only screen and (max-width: 765px) {
  /********************
        Header
  ********************/
  .main-menu__link {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  /********************
        Header
  ********************/
  .main-menu__container  {
    opacity: 0;
    z-index: -10;
    visibility: hidden;
    transition: all .5s;
  }
  .main-menu__container.show {
    opacity: 1;
    z-index: 10;
    visibility: visible;
    float: none !important;
    position: absolute;
    top: 55px;
    width: 50%;
    height: auto;
  }
  .main-menu__right.show {
    left: 50%;
    background-color: inherit;
  }
  .main-menu__container.show .main-menu__item {
    background:grren;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
  .main-menu__container.show .main-menu__link {
    display: inline-block;
    color: #474747;
    height: 100%;
  }
  .main-menu__container.show .main-menu__link::before {
    display: none;
  }
  .main-menu__link {
    font-size: 17px;
  }
  .main-menu__container.show .btn.btn-primary {
    width: 100%;
    border-radius: 0;
    color: #ffffff;
  }
  .main-menu.full-screen .main-menu__mobile-menu-trigger {
    width: 55px;
    height: 55px;
    bottom: auto !important;
  }
  /************************
          Hero
  ************************/
  .hero__header{
    width: 100% !important;
  }
  .hero__title {
    font-size: 55px !important;
  }
  .hero-title__wrapper {
    background-color: #0ab587;
    color: #ffffff;
  }

}

@media only screen and (max-width: 550px) {
  .header-title__2 {
    font-size: 2.5rem !important;
  }
  .footer-block__brand-name {
    font-size: 17px;
  }
  .copyright {
    height: auto;
    font-size: 14px;
  }
  .copyright div {
    float: none !important;
    text-align: left;
  }
  .circle {
    height: 60px !important;
    width: 60px !important;
    line-height: 60px !important;
  }
  .circle.big {
    line-height: 120px !important;
    height: 120px !important;
    width: 120px !important;
    overflow: hidden;
  }
}

@media only screen and (max-height: 450px) {
  .background-block_size_3 {
    height: 100% !important;
  }
}
