.contacts-hero {
  background-color: #eaeaea;
}

.hero__title {
  color: #1e0c65;
}
.contacts-hero .hero__title {
  margin-top: 0.75rem;
}

.contact-link {
  color: #1e0ca5;
  font-size: 17px;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(to top, #2ae0b0 0%,#1e0ca5 10%, transparent 10.01%) no-repeat left bottom;
  background-size: 100% 100%;
  transition: background-size .25s;
}
.contact-link:hover {
  background-size: 0% 100%;
}

.map-block {
  overflow: hidden;
  position: relative;
}
.map-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 20;
}

@media only screen and (max-width: 450px), only screen and (max-height: 550px) {
  .contacts-hero{
    height: auto !important;
    padding-bottom: 2rem;
  }
  .hero__title {
    margin-bottom: .5rem;
  }
}
