.preregister-hero{
  height: auto !important;
  padding-bottom: .75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
  position: relative;
}
.preregister-block {
  padding-top: 2rem;
}
.preregister-block__motivation,
.preregister-block__form-wrapper {
  border-radius: 5px;
  background-color: #ffffff;
  color: #1e0c65;
  padding-top: .75rem !important;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.07);
  /* z-index: 10; */
  position: relative;
  overflow: hidden;
}
.preregister-block__motivation {
  padding: .75rem;
}
.header_1 {
  color: inherit;
  font-size: 30px;
  font-family: 'Open Sans', Arial,Helvetica, sans-serif;
  margin-bottom: .5rem;
}
.form__button_submit {
  display: block;
  width: 100%;
}
