.presentation-hero {
  position: relative;
  height: 95vh;
  z-index: 1;
  z-index: 11;
}
.presentation-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}


/***********************
      AboutBlock
************************/
.about-block{
  background-color: #f4f4f4;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  /* overflow: hidden; */
  z-index: 10;
  color: #000000;
  padding-top: 10rem;
}
.about-block::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  z-index: -1;
  background-image: url("../images/a-hero-grey.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #eaeaea;
}
/************************
      NetworkSection
************************/
.network-block {
  background-color: #1e0c65;
  padding-top: 2rem;
  color: #ffffff;
  padding-bottom: .75rem;
}
.description-block {
  color: #000000;
  font-size: 17px;
}
