.president-hero {
	height: 75vh;
	background-size: auto 100%;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
}
.hero {
  position: relative;
}
.hero__header {
  position: absolute;
  top: 50%;
  width: 50%;
  padding-left: 2.5%;
  transform: translateY(-50%);
  z-index: 20;
}
.hero__title {
  color: #000000;
  position: relative;
  word-break: keep-all;
  word-wrap: normal;
}
.hero__media {
  position: absolute;
  left: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  z-index: 10;
}
.president-hero .hero__media::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
  background-image: url("../images/a-hero-blue.png");
}
.hero__media span{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/anf-hero-bg-min.jpg");
  bottom: 0;
  z-index: 1;
}

.content-block{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #efefef;
	color: #a8a2c2;
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 100%;
}
.content-block__image {
	height: 200px;
	min-height: 200px;
}
.content__image {
	max-height: 250px;
	margin-right: .75rem;
}
.content__block {
  height: 100vh;
  overflow: scroll;
}
.image__block {
  background-image: url(../images/anf-hero-bg-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.first-p {
	overflow: auto;
	padding-top: .5rem;
}
.first-p::first-letter {
	padding-left: 1rem;
	font-size: 2rem;
	text-transform: uppercase;
	color: #1e0c65;
}
.article-block__author,
.article-block__position {
	color: #1e0c65;
	font-size: 30px;
	margin-bottom: .5rem;
}
.article-block__position {
	font-size: 25px;
}
